.img {
    min-height: 500px;
}

@media (max-device-width: 480px) {
    .img {
        min-height: 500px;
    }
}

@media (min-width: 768px) {
    .img {
        min-height: 600px;
    }
}

@media (min-width: 992px) {
    .img {
        min-height: 550px;
    }
}

@media (min-width: 1200px) {
    .img {
        min-height: 500px;
    }
}
