<div ui-view>
    <div class="panel panel-default">
        <div class="panel-heading">
            <input type="text" placeholder="Buscar" class="form-control" ng-model="query">
        </div>
        <div class="panel-body list">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 img" ng-repeat="pelicula in peliculas | filter : { Title: query }">
                <div class="thumbnail" ng-click="detalle(pelicula)">
                    <img ng-src="{{pelicula.Poster}}" alt="Image">
                    <div class="caption">
                        <h5>{{pelicula.Title}}</h5>
                        <h4><small>{{ pelicula.Genre + " - " + pelicula.Runtime }}</small></h4>
                        <!-- <p>
                            {{ (pelicula.Plot | limitTo:80) + "..." }}
                        </p> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="list-group">
            <a href class="list-group-item col-xs-12 col-sm-12 col-md-12 col-lg-6"  ng-click="detalle(pelicula)">
                <div class="row ">
                    <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
                        <img ng-src="{{pelicula.Poster}}" class="img-responsive thumbnail" alt="Image">
                    </div>
                    <div class="col-xs-8 col-sm-9 col-md-10 col-lg-10">
                        <h4 class="list-group-item-heading">{{pelicula.Title}} <small>{{ " - " + pelicula.Genre + " / " + pelicula.Runtime }}</small></h4>
                        <p class="list-group-item-text">{{ pelicula.Plot }}</p>
                    </div>
                </div>
            </a>
        </div> -->
    </div>
</div>
